

/* global variables */

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);
}

/* css reset */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--violet);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: contain;
}

main {
  color: var(--white);
  text-align: center;
}

/* container */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* top design */

header {
  padding: 38px 0 60px 40px;
}

.logo {
  width: 120px;
}

.mockups {
  width: 90%;
}

/* bottom design */

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  padding: 60px 40px 16px 40px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0 40px 24px 40px;
  line-height: 24px;
}

.register {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  width: 200px;
  height: 40px;
  background-color: var(--white);
  color: var(--violet);
  border-radius: 20px;
  box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.27); 
  text-align: center;
  line-height: 18px;
  padding-top: 10px;
  margin-bottom: 63px;
  display: inline-block;
}

.register:hover {
  background-color: var(--soft-magenta);
  color: #fff;
  cursor: pointer;
}

i {
  padding: 5px;
}

i:hover {
  color: var(--soft-magenta);
  cursor: pointer;
}

/* footer */

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 20px;
}

.attribution a {
  color: var(--soft-magenta);
}

/* Desktop Layout */

@media (min-width: 1024px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-size: auto 155%;
  }
  /* Body Grid */
  header {
    grid-area: 1/1/2/2;
    padding-left: 94px;
  }
  .mockups {
    grid-area: 2/1/3/2;
  }
  main {
    grid-area: 2/1/3/3;
    height: 559px;
  }
  footer {
    grid-area: 3/1/4/3;
  }
  /* Container Grid */
  .logo {
    width: 200px;
  }
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .mockups {
    grid-area: 1/1/2/2;
    justify-self: end;
  }
  .inner-container {
    grid-area: 1/2/2/3;
    text-align: left;
    position: relative;
    
  }
  h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 400;
  }
  .register, .icons-container {
    margin-left: 40px;
  }
  .register {
    width: 200px;
    height: 56px;
    box-shadow: 2px 4px 9px 3px rgba(0,0,0,0.26);
    border-radius: 28px;
    font-size: 18px;
    line-height: 27px;
  }
  .icons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 81px;
    margin-right: 70px;
  }
  .fa-facebook {
    font-size: 2.333rem;
  }
  .fa-twitter {
    font-size: 2.333rem;
  }
  .fa-instagram {
    font-size: 2.333rem;
  }
  footer {
    margin: 0;
  }
}
