

/* global variables */

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);
}

/* css reset */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--violet);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: contain;
}

main {
  color: var(--white);
  text-align: center;
}

/* container */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* mobile layout */

header {
  padding: 38px 0 60px 40px;
}

.logo {
  width: 120px;
}

.mockups {
  width: 90%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  padding: 60px 40px 16px 40px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0 40px 24px 40px;
  line-height: 24px;
}

.register {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  width: 200px;
  height: 40px;
  background-color: var(--white);
  color: var(--violet);
  border-radius: 20px;
  box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.27); 
  text-align: center;
  line-height: 18px;
  padding-top: 10px;
  margin-bottom: 63px;
  display: inline-block;
}

.register:hover {
  background-color: var(--soft-magenta);
  color: #fff;
  cursor: pointer;
}

i {
  padding: 5px;
}

i:hover {
  color: var(--soft-magenta);
  cursor: pointer;
}

/* footer */

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 20px;
}

.attribution a {
  color: var(--soft-magenta);
}

/* Desktop Layout */

@media (min-width: 1024px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-position: 0 0;
    background-size: auto 100vh;
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 200px;
  }
  .container {
    flex-direction: row;
    justify-content: center;
  }
  .mockups {
    width: 100%;
  }
  .inner-container {
    min-width: 448px;
    max-width: 35%;
    text-align: left;
  }
  h1 {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 60px;
  }
  p {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
  }
  .register {
    height: 56px;
    font-size: 18px;
    line-height: 27px;
    border-radius: 28px;
    margin-left: 40px;
  }
  .icons-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
  }
  .fab {
    font-size: 40px;
  }
}

